.snackbar-section {
  padding-top: 36px;
}

.snackbar-section .container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 16px;
}

.snackbar-section .back-link {
  display: inline-block;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input[type='number'] {
  box-sizing: border-box;
  height: 32px;
  padding: 4px 12px;
}

.form fieldset {
  display: flex;
  gap: 32px;
  padding: 16px;
}

.form fieldset label {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.form button {
  height: 32px;
}
